AWS_ACCESS_KEY_ID=

AWS_SECRET_ACCESS_KEY=

AWS_DEFAULT_REGION=ap-south-1

S3_BUCKET=

SNOWFLAKE_ACCOUNT=

SNOWFLAKE_USER=

SNOWFLAKE_PASSWORD=

SNOWFLAKE_DATABASE=

SNOWFLAKE_SCHEMA=

SNOWFLAKE_WAREHOUSE=

SLACK_WEBHOOK=

SNS_TOPIC_ARN=

EMAIL_FROM=

EMAIL_TO=